table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

th, td {
  padding: 8px;
}

th {
  border-bottom: 2px solid $grey-color;
  text-align: left
}

td {
  border-top: 1px solid $grey-color;
}
